.textbox {
    margin-bottom: 20px;
}

.itemList {
    list-style: none;
    width: 280px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgb(200, 196, 196);
    padding: 5px;
}

.partyList {
    list-style: none;
}

.sprite {
    width: 20px;
}

.partyItem {
    display: flex;
    align-items: center;
}
.back {
    float: right;
}
